


body {

	margin:0;
	padding:0;

}

#presentation{

    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 100%;
    padding-top: 15%;

}


#presentationIndex{

    background-image: url(../images/backgroundindex.png);
    width: 100%;
    height: 100%;

}

#partido{

    background-color: #ffffff;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    padding-left: 20%;
    opacity: 0.5;
    border: solid 1px;

}


.container {

	float: left;
    width: 130px;
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    padding-top: 35px;
    text-align: left;
}

.containerSearch{

    width: 100%;
    position: relative;
    
}


#jugador{


    position: absolute;
    top: 48%;
    left: 40%;
    font-size: 16px;
    color: #65774f;
    font-weight: bold;
    font-family: sans-serif;

}

ul{

    float: left;
    list-style: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
}


li{

    cursor: pointer;
    padding: 5px;
    background-color: white;
    border: 1px solid; 

}


li:hover { 
  background-color: yellow;
}


#fichaJugador{

    left: 10%;
    top: 10%;
    position: relative;
    float: left;

}

input{

    height: 50px;
    width: 240px;
    font-size: 16px;
    font-family: sans-serif;

}


#asistente{

    width: 240px;
    height: auto;
    border: solid 1px;
    background-color: #ececec;

}

#asistente div{

    border-bottom: 1px solid #cecece;
    width: 99%;
    height: 30px;
    background-color: beige;
    font-size: 15px;  
    color: cadetblue;
    font-family: sans-serif;
    font-weight: bolder;
    cursor: pointer;


}
